.alignleft{
    float:left;
}

.alignright{
    float:right;
}

.aligncenter{
    display:inline-block;
    margin:0 auto;
}

.clear{
    clear:both;
}

.hidden{
    display:none;
}

.nobr {
    white-space:nowrap;
}