.alignleft{
    margin-right:10px;
}

.alignright{
    margin-left:10px;
}

hr{
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0;
    clear:both;
}